@page
@model IndexModel
@{
    
    ViewData["Title"] = "Measurement Base";
    List<SelectListItem> items = new List<SelectListItem>
    {
        new SelectListItem { Text = "Option 1", Value = "1" },
        new SelectListItem { Text = "Option 2", Value = "2" },
        new SelectListItem { Text = "Option 3", Value = "3" }
    };
}

<div class="text-center">
    <h1 class="display-4">Measurement Page</h1>
    <label for="Measurement Type">Choose a measurement:</label>

    <form method="post">
        <br>
        <input type="hidden" id="targetPage" name="TargetPage" />
        <button type="submit" onclick="setTargetPage('./Measurement/SMPSMeasurement')">SMPS</button>
        
        <br>
        <!--
        <button type="submit" onclick="setTargetPage('./Measurement/TandemDMA')">Tandem DMA</button>
        <br>!-->
        <button type="submit" onclick="setTargetPage('./Measurement/TandemTemperature')">Tandem Temperature</button>
        <br>
        <button type="submit" onclick="setTargetPage('./Measurement/SensorMeasurement')">Current Sensor</button>
        <!--select asp-for="SelectedValue" asp-items="Model.Items" class="form-control">
            <<option value="">Select an option</option>
        </select>
        <button type="submit">Submit</button!-->
    </form>

</div>

<script>
    function setTargetPage(page){
        document.getElementById('targetPage').value = page
    }
</script>

