@page
@model SensorMeasurementModel
@{
    ViewData["Title"] = "Sensor Base";

}

<div class="text-center">
    <h1 class="display-4">Sensor Page</h1>
    
       <label>Sensor 1 Value [V]:</label><input type="text" id="sensor1value" value="n.a." readonly> <!-- Container for new data -->
       <br>
       <label>Sensor 2 Value [V]:</label><input type="text" id="sensor2value" value="n.a." readonly>
        @section Scripts {
        
        <script src="~/js/sensor.js"></script>
    }
        
</div>