@page
@model SMPSMeasurement
@{
    ViewData["Title"] = "SMPS Base";
}

<div class="text-center">
    <h1 class="display-4">SMPS Page</h1>

    <form asp-page-handler="Start" method="post"><button class="btn btn-default">Click to post</button></form>
    
</div>