@page
@model SMPSMeasurementModel
@{
    ViewData["Title"] = "SMPS Base";

}

<div class="text-center">
    <h1 class="display-4">SMPS Page</h1>

    <form method="post">
    
        <label asp-for="Name">Name:</label><input asp-for="Name">
        <br>
        <label asp-for="Date">Date:</label><input type="date" asp-for="Date">
        <br>
        <label asp-for="SelectedExperimentID">Experiment</label><select id="ExperimentSelect" asp-for="SelectedExperimentID" asp-items="Model.ExperimentOptions"></select>
        <br>
        <label asp-for="SelectedSampleID">Sample</label><select id="SampleSelect" asp-for="SelectedSampleID" asp-items="Model.SampleOptions"></select>
        <br>
        <label asp-for="Description">Description</label><input asp-for="Description">
        <br>
        <label asp-for="UpscanTime">Upscantime [s]:</label><input asp-for="UpscanTime">
        <br>
        <label asp-for="DownscanTime">Downscantime [s]:</label><input asp-for="DownscanTime">
        <br>
        <label asp-for="SMPSMinDiameter">Min. diameter [nm]:</label>
        <select asp-for="SMPSMinDiameter" asp-items="Model.SMPSDiameterOptions"></select>
        <br>
        <label asp-for="SMPSMaxDiameter">Max. diameter [nm]:</label>
        <select asp-for="SMPSMaxDiameter" asp-items="Model.SMPSDiameterOptions"></select>
        <br>
        <label asp-for="SMPSDMAType">DMA Type:</label><input asp-for="SMPSDMAType">
        <br>
        <button type="submit">Start</button>
        <button type="submit" onclick="OnAbort">Abort</button>
    </form>
</div>