@page
@model TandemDMA
@{
    ViewData["Title"] = "TandemDMA Base";
}

<div class="text-center">
    <h1 class="display-4">Tandem DMA Page</h1>

    <form asp-page-handler="Start" method="post">
        
        

        <label>Name:</label><input type="text">
        <button class="btn btn-default">Start</button>
        
        
    </form>
    
</div>