@page
@using Microsoft.AspNetCore.Mvc.Rendering
@model TandemTemperatureModel;

@{
    
    ViewData["Title"] = "TandemTemperature Base";
}

<div class="text-center">
    <h1 class="display-4">TandemTemperature Page</h1>

    <form method="post">
        
        <label asp-for="Name">Name:</label><input asp-for="Name">
        <br>
        <label asp-for="Date">Date:</label><input type="date" asp-for="Date">
        <br>
        <label asp-for="SelectedExperimentID">Experiment</label><select id="ExperimentSelect" asp-for="SelectedExperimentID" asp-items="Model.ExperimentOptions"></select>
        <br>
        <label asp-for="SelectedSampleID">Sample</label><select id="SampleSelect" asp-for="SelectedSampleID" asp-items="Model.SampleOptions"></select>
        <br>
        <label asp-for="Description">Description</label><input asp-for="Description">
        <br>
        <label asp-for="SheathFlow">Sheath flow [L/min]:</label><input asp-for="SheathFlow">
        <br>
        <label asp-for="UpscanTime">Upscantime [s]:</label><input asp-for="UpscanTime">
        <br>
        <label asp-for="DownscanTime">Downscantime [s]:</label><input asp-for="DownscanTime">
        <br>
        <label asp-for="MinDiameterSMPS">SMPS Min. diameter [nm]:</label>
        <select asp-for="MinDiameterSMPS" asp-items="Model.SMPSDiameterOptions" id="MinDiameterSMPS"></select>
        <br>
        <label asp-for="MaxDiameterSMPS">SMPS Max. diameter [nm]:</label>
        <select asp-for="MaxDiameterSMPS" asp-items="Model.SMPSDiameterOptions" id="MaxDiameterSMPS"></select>
        <br>
        <label asp-for="SMPSDMAType">SMPS DMA Type:</label><input asp-for="SMPSDMAType">
        <br>
        <label asp-for="MinCurrent">Minimum Current [A]:</label>
        <select asp-for="MinCurrent" asp-items="Model.CurrentOptions" id="MinCurrent"></select>
        <br>
        <label asp-for="MaxCurrent">Maximum Current [A]:</label>
        <select asp-for="MaxCurrent" asp-items="Model.CurrentOptions" id="MaxCurrent"></select>
        <br>
        <label asp-for="CurrentStep">Current Step [A]:</label><select asp-for="CurrentStep" asp-items="Model.CurrentStepsOption" id="CurrentStep"></select>
        <br>
        <label asp-for="FirstDMADiameter">First DMA Diameter [nm]:</label><input asp-for="FirstDMADiameter">
        <br>
        <button>Start</button>
        <button type="submit" formaction="/Measurement/TandemTemperature?handler=Cancel">Cancel</button>
        
    </form>
    
</div>